################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Poc.NotifyMicro/.vs/Poc.NotifyMicro
/Poc.NotifyMicro/Poc.NotifyMicro.Adapter/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.Adapter/obj
/Poc.NotifyMicro/Poc.NotifyMicro.API/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.API/obj
/Poc.NotifyMicro/Poc.NotifyMicro.EnvioEmail/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.EnvioEmail/obj
/Poc.NotifyMicro/Poc.NotifyMicro.EnvioSms/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.EnvioSms/obj
/Poc.NotifyMicro/Poc.NotifyMicro.RabbitMq/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.RabbitMq/obj
/Poc.NotifyMicro/Poc.NotifyMicro.Redis/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.Redis/obj
/Poc.NotifyMicro/Poc.NotifyMicro.Service/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicro.Service/obj
/Poc.NotifyMicro/Poc.NotifyMicroDomain/bin/Debug/net8.0
/Poc.NotifyMicro/Poc.NotifyMicroDomain/obj
/Poc.NotifyMessaging/.vs
/Poc.NotifyMessaging/Poc.NotifyMessaging.Library/bin/Debug/net8.0
/Poc.NotifyMessaging/Poc.NotifyMessaging.Library/obj/Debug/net8.0
/Poc.NotifyMessaging/Poc.NotifyMessaging.Library/obj
/Poc.NotifyOrchestrator/.vs
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.App/bin/Debug/net8.0
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.App/obj
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Domain/bin/Debug/net8.0
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Domain/obj
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.EntityFramework/bin/Debug/net8.0
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.EntityFramework/obj
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Redis/bin/Debug/net8.0
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Redis/obj
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Service/bin/Debug/net8.0
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Service/obj
/Poc.NotifyPublish/.vs
/Poc.NotifyPublish/Poc.NotifyPublish.API/bin
/Poc.NotifyPublish/Poc.NotifyPublish.API/obj
/Poc.NotifyPublish/Poc.NotifyPublish.Domain/bin
/Poc.NotifyPublish/Poc.NotifyPublish.Domain/obj
/Poc.NotifyPublish/Poc.NotifyPublish.Service/bin
/Poc.NotifyPublish/Poc.NotifyPublish.Service/obj
/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Worker/bin/Debug/net8.0
/Poc.NotifySend/.vs
/Poc.NotifySend/Poc.NotifySend.Domain/bin/Debug/net8.0
/Poc.NotifySend/Poc.NotifySend.Domain/obj
/Poc.NotifySend/Poc.NotifySend.Service/bin/Debug/net8.0
/Poc.NotifySend/Poc.NotifySendEmail.Worker/bin/Debug/net8.0
/Poc.NotifySend/Poc.NotifySendEmail.Worker/obj
/Poc.NotifySend/Poc.NotifySendSms.Worker/bin/Debug/net8.0
/Poc.NotifySend/Poc.NotifySendSms.Worker/obj
/projects/Poc.Messaging.Library/.vs
/projects/Poc.Messaging.Library/Poc.NotifyMessaging.Library/bin
/projects/Poc.Messaging.Library/Poc.NotifyMessaging.Library/obj
/projects/Poc.NotifyOrchestrator/.vs
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Domain/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.EntityFramework/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Redis/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Redis/obj
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.EntityFramework/obj
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Domain/obj
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Service/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Service/obj
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Worker/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Worker/obj
/projects/Poc.NotifyPublish/.vs
/projects/Poc.NotifyPublish/Poc.NotifyPublish.API/bin/Debug/net8.0
/projects/Poc.NotifyPublish/Poc.NotifyPublish.API/bin/Release/net8.0
/projects/Poc.NotifyPublish/Poc.NotifyPublish.API/obj
/projects/Poc.NotifyPublish/Poc.NotifyPublish.Domain/bin
/projects/Poc.NotifyPublish/Poc.NotifyPublish.Domain/obj
/projects/Poc.NotifyPublish/Poc.NotifyPublish.Service/bin/Debug/net8.0
/projects/Poc.NotifyPublish/Poc.NotifyPublish.Service/bin/Release/net8.0
/projects/Poc.NotifyPublish/Poc.NotifyPublish.Service/obj
/projects/Poc.NotifySend/.vs
/projects/Poc.NotifySend/Poc.NotifySend.Domain/bin/Debug/net8.0
/projects/Poc.NotifySend/Poc.NotifySend.Domain/obj
/projects/Poc.NotifySend/Poc.NotifySend.Service/bin/Debug/net8.0
/projects/Poc.NotifySend/Poc.NotifySend.Service/obj/Debug/net8.0
/projects/Poc.NotifySend/Poc.NotifySend.Service/obj
/projects/Poc.NotifySend/Poc.NotifySendEmail.Worker/bin/Debug/net8.0
/projects/Poc.NotifySend/Poc.NotifySendEmail.Worker/obj
/projects/Poc.NotifySend/Poc.NotifySendSms.Worker/bin/Debug/net8.0
/projects/Poc.NotifySend/Poc.NotifySendSms.Worker/obj
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Cache/bin/Debug/net8.0
/projects/Poc.NotifyOrchestrator/Poc.NotifyOrchestrator.Cache/obj
